<div class="modal fade" id="modalDeleteIngredient{{ ingredient.id }}" tabindex="-1"
     aria-labelledby="Supprimer un ingrédient" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Supprimer un ingrédient">Suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                Supprimer l'ingrédient "{{ ingredient.name }}" ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <form method="post"
                      action="{{ path('app_ingredient_delete', {'id': ingredient.id}) }}"
                >
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient.id) }}">
                    <button class="btn btn-primary">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>
