<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Cuisiner au quotidien - {% block title %}{% endblock %}
        </title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/b4974ddb58.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% include '_nav.html.twig' %}

        <div class="container-fluid px-0 py-2">
            {% block breadcrumb %}{% endblock %}
        </div>

        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
